Repository FlightCoordinator/FlightCoordinator, pull requests merged in 2025-01, with the labels that each got.

#35 Fixed frontend-backend parameter matches
  frontend/src/components/DataGrid.tsx
  frontend/src/routes/private/AirportsPage.tsx
  frontend/src/types/components.d.ts
  server/src/main/java/com/flightcoordinator/server/controller/AirportController.java
  server/src/main/java/com/flightcoordinator/server/controller/AlgorithmResultController.java
  server/src/main/java/com/flightcoordinator/server/controller/AlgorithmRunController.java
  server/src/main/java/com/flightcoordinator/server/controller/CertificationController.java
  server/src/main/java/com/flightcoordinator/server/controller/CrewController.java
  server/src/main/java/com/flightcoordinator/server/controller/FlightController.java
  server/src/main/java/com/flightcoordinator/server/controller/PlaneController.java
  server/src/main/java/com/flightcoordinator/server/controller/RouteController.java
  server/src/main/java/com/flightcoordinator/server/controller/RunwayController.java
  server/src/main/java/com/flightcoordinator/server/controller/VehicleController.java
  server/src/main/java/com/flightcoordinator/server/dto/EntityIdDTO.java
  server/src/main/java/com/flightcoordinator/server/dto/create_update/AirportCreateUpdateDTO.java
  server/src/main/java/com/flightcoordinator/server/dto/create_update/CertificationCreateUpdateDTO.java
  server/src/main/java/com/flightcoordinator/server/dto/create_update/CrewCreateUpdateDTO.java
  server/src/main/java/com/flightcoordinator/server/entity/AirportEntity.java
  server/src/main/java/com/flightcoordinator/server/exception/AppError.java
  server/src/main/java/com/flightcoordinator/server/service/AirportService.java
  server/src/main/java/com/flightcoordinator/server/service/AlgorithmResultService.java
  server/src/main/java/com/flightcoordinator/server/service/AlgorithmRunService.java
  server/src/main/java/com/flightcoordinator/server/service/CertificationService.java
  server/src/main/java/com/flightcoordinator/server/service/CrewService.java
  server/src/main/java/com/flightcoordinator/server/service/FlightService.java
  server/src/main/java/com/flightcoordinator/server/service/PlaneService.java
  server/src/main/java/com/flightcoordinator/server/service/RouteService.java
  server/src/main/java/com/flightcoordinator/server/service/RunwayService.java
  server/src/main/java/com/flightcoordinator/server/service/VehicleService.java
Labels: bug, java, javascript

#44 Updated pages in private routes
  frontend/src/components/AuthCheck.tsx
  frontend/src/components/SettingsModal.tsx
  frontend/src/components/SidebarLinks.tsx
  frontend/src/components/ThemeProvider.tsx
  frontend/src/routes/private/CertificationPage.tsx
  frontend/src/routes/private/CrewPage.tsx
  frontend/src/routes/private/FlightPage.tsx
  frontend/src/routes/private/PlanePage.tsx
  frontend/src/routes/private/RoutePage.tsx
  frontend/src/routes/private/RunwayPage.tsx
  frontend/src/routes/private/VehiclePage.tsx
  frontend/src/routes/public/LandingPage.tsx
  frontend/src/types/dto.d.ts
  frontend/src/types/entity.d.ts
  server/src/main/java/com/flightcoordinator/server/devtools/SampleDataGenerator.java
  server/src/main/java/com/flightcoordinator/server/devtools/SampleDataValues.java
  server/src/main/java/com/flightcoordinator/server/dto/CertificationDTO.java
  server/src/main/java/com/flightcoordinator/server/entity/CertificationEntity.java
  server/src/main/java/com/flightcoordinator/server/service/CertificationService.java
  server/src/main/java/com/flightcoordinator/server/utils/ObjectMapper.java
Labels: bug, enhancement, help wanted, javascript

#46 Frontend bugfix
  .gitignore
  frontend/public/assets/logo_bordered.png
  frontend/src/Routes.tsx
  frontend/src/components/AuthCheck.tsx
  frontend/src/components/DataGrid.tsx
  frontend/src/components/GridOverlay.tsx
  frontend/src/components/SidebarLinks.tsx
  frontend/src/components/ThemeProvider.tsx
  frontend/src/hooks/useAccessToken.ts
  frontend/src/hooks/useServerHealthQuery.ts
  frontend/src/localization/translations/data_grid_en.json
  frontend/src/localization/translations/data_grid_tr.json
  frontend/src/localization/translations/main_en.json
  frontend/src/localization/translations/main_tr.json
  frontend/src/localization/translations/server_messages_en.json
  frontend/src/localization/translations/server_messages_tr.json
  frontend/src/routes/index.ts
  frontend/src/routes/misc/ErrorPage.tsx
  frontend/src/routes/misc/NotFoundPage.tsx
  frontend/src/routes/private/AlgorithmResultPage.tsx
  frontend/src/routes/private/AlgorithmRunPage.tsx
  frontend/src/routes/protected/MainPage.tsx
  frontend/src/routes/protected/layout/ResourcePageLayout.tsx
  frontend/src/routes/protected/pages/AirportsPage.tsx
  frontend/src/routes/protected/pages/AlgorithmResultPage.tsx
  frontend/src/routes/protected/pages/AlgorithmRunPage.tsx
  frontend/src/routes/protected/pages/CertificationPage.tsx
  frontend/src/routes/protected/pages/CrewPage.tsx
  frontend/src/routes/protected/pages/FlightPage.tsx
  frontend/src/routes/protected/pages/PlanePage.tsx
  frontend/src/routes/protected/pages/RoutePage.tsx
  frontend/src/routes/protected/pages/RunwayPage.tsx
  frontend/src/routes/protected/pages/VehiclePage.tsx
  frontend/src/routes/public/LandingPage.tsx
  frontend/src/routes/public/NotFoundPage.tsx
  frontend/src/routes/public/ServiceStatusPage.tsx
  frontend/src/shared/global.style.ts
  frontend/src/types/components.d.ts
  frontend/src/utils/requester.ts
  frontend/src/utils/serverTranslator.ts
  server/src/main/java/com/flightcoordinator/server/controller/AirportController.java
  server/src/main/java/com/flightcoordinator/server/controller/AlgorithmResultController.java
  server/src/main/java/com/flightcoordinator/server/controller/AlgorithmRunController.java
  server/src/main/java/com/flightcoordinator/server/controller/CertificationController.java
  server/src/main/java/com/flightcoordinator/server/controller/CrewController.java
  server/src/main/java/com/flightcoordinator/server/controller/FlightController.java
  server/src/main/java/com/flightcoordinator/server/controller/PlaneController.java
  server/src/main/java/com/flightcoordinator/server/controller/RouteController.java
  server/src/main/java/com/flightcoordinator/server/controller/RunwayController.java
  server/src/main/java/com/flightcoordinator/server/controller/VehicleController.java
  server/src/main/java/com/flightcoordinator/server/dto/create_update/CertificationCreateUpdateDTO.java
  server/src/main/java/com/flightcoordinator/server/exception/GlobalExceptionHandler.java
  server/src/main/java/com/flightcoordinator/server/service/RunwayService.java
Labels: enhancement, java, javascript
